.container {
    display: flex;
    border-radius: 10%;
    height: 95%;
    width: 100%;
    border: 5px solid black;   
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgreen;
}

.profile {
    display: flex;
    height: 100%;
    border: 3px solid black;
    flex-basis: 40%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.profile-image {
    display: flex;
    width: 200px;
    height: 200px;
    flex-basis: 40%;
    background: url('./profile.JPG');
    background-size: cover;
    border: 5px solid red;   

}

.profile-content {
    display: flex;
    width: 80%;
    height: 200px;
    flex-basis: 55%;
    border: 5px solid blue;   

}


.content {
    display: flex;
    height: 100%;
    flex-basis: 60%;
    border: 5px solid black;   
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}

.introduction {
    display: flex;
    flex-direction: column;
    border: 5px solid yellow;   
    flex-basis: 40%;
}

.project-container {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;

}

.project-introduction {
    display: flex;
    border: 5px solid green;   
    flex-basis: 70%;

}

.project {
    border: 5px solid purple; 
    flex-basis: 32%;  

}